<!DOCTYPE html>
<html>
<head>
    <title>Add Foster Family</title>
</head>
<body>
    <h1>Add a New Foster Family</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" name="action" value="add_family">Add Family</button>

        <button type="submit" name="action" value="add_another_family">Add Another Family</button>
    </form>

    <form action="{% url 'foster:home' %}" method="get" class="mt-4">
        <button type="submit" class="btn btn-primary w-100" style="padding: 10px 20px; background-color: #007BFF; color: white; border: none; border-radius: 5px;">
            Return to Home
        </button>
    </form>
</body>
</html>
